<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="qatestframework.pages.testcases.Landingpagetest"/>
      <class name="qatestframework.pages.testcases.selectRegisteredOwnertest"/>
      <class name="qatestframework.pages.testcases.opelVehicleJourneyTests"/>
      <class name="qatestframework.pages.testcases.fordVechileJourneytests"/>
      <class name="qatestframework.pages.testcases.audiVechileJourneytests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
